/* Apply styles to the about-us section */
.about-us {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Style the heading */
.about-us h1 {
    font-size: 4rem;
    color: #000;
    margin-bottom: 20px;
}

/* Style the paragraph */
.about-us p {
    text-align: left;
    font-size: 18px;
    color: #000;
}

.missiontext{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.missiontext h1{
    font-size: 2rem;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.missiontext p {
    text-align: left;
    font-size: 18px;
}

.howework{
    /* background-color:rgba(224, 224, 224, 0.66); */
    background-color: #f0f0f0;
    text-align: center;
}

.workwedo{
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
}

.workwedo h1{
    margin-bottom: 0.5rem;
}

.sections-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Distribute sections evenly */
    align-items: center;
    flex-wrap: wrap; /* Allow sections to wrap on smaller screens */

}

.section {
    flex-basis: 30%; /* Each section takes up 30% of the container width */
    text-align: center;
    margin: 20px;
}
.section img {
    width: 100%;
    height: auto;
    max-width: 150px; /* Set a max-width for image */
    display: block; /* Remove extra space below the image */
    margin: 0 auto; /* Center the image horizontally */
}

.section h4,
.section p {
    margin: 10px 0;
}

.section p {
    font-size: 0.8rem;
}

.maindiv{
    display: flex;
}

.maindiv > div {
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;

}

.firstabout img, .thirdabout img {
    max-width: 100%;
    height: auto;

}

.secondabout{
    flex: 2;
    color: black;
    background-color: #2BCED6;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondabout h1{
    line-height: 40px;
    margin-bottom: 1rem;
}

.secondabout p{
    margin-bottom: 1rem;
}


.secondabout > * {
    flex-grow: 1;
}

.donatebutton{
    display: inline-block;
    color: black;
    border: 2px solid black;
    line-height: 44px !important;
    background-color: white;
    border-radius: 4px;
    transition: color, opacity .15s linear;
    box-sizing: content-box;
    width: 50%;
    margin: 0 auto; /* Center the button horizontally */
}

.donatebutton:hover{
    color: white;
    background-color: #000;
    transition: all 0.4s ease-in-out;
}

.thirdabout {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Revert changes for larger screens */
@media screen and (min-width: 1024px) {
    .sections-container {
        flex-wrap: nowrap; /* Prevent sections from wrapping */
    }
    .section {
        flex-basis: auto; /* Revert to original flex-basis */
    }
}

@media screen and (max-width: 768px){
    .about-us, .missiontext {
        max-width: 500px;
    }
    .about-us h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    
    /* Style the paragraph */
    .about-us p, .missiontext p {
        font-size: 16px;
    }
    .maindiv {
        flex-direction: column;
    }
    .secondabout{
        padding: 30px;
    }
    .sections-container {
        flex-wrap: wrap; /* Allow sections to wrap on smaller screens */
    }
    .section {
        flex-basis: 100%; /* Make each section take full width on smaller screens */
    }
}

@media screen and (max-width: 576px){
    .about-us,.missiontext {
        max-width: 400px;
    }
    .about-us h1, .missiontext h1{
        font-size: 2rem;
        margin-bottom: 5px;
    }
    /* Style the paragraph */
    .about-us p, .missiontext p {
        font-size: 14px;
        padding: 0.5rem;
    }
    .missiontext{
        padding-bottom: 1rem;
    }
}