*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    position: relative;
    z-index: 9999;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.hero {
    position: relative;
    z-index: 1;
    text-align: center;
}

.heroheading{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.hero img{
    width: 100%;
    height: auto;
}

.heroheading h1{
    position: relative;
    z-index: 1; /* Ensure content is above the background */
    font-size: 3rem;
    text-align: center;
    padding: 1rem 1rem;
    font-weight: 700;
    color: black;
}

.ourproducts{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.ourproducts h1{
    text-align: center;
    font-size: 3rem;
}

.title-and-search {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Align items horizontally */
    margin-left: 2rem;
    margin-right: 2rem;
}


.products{
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    flex: 1;
    margin-top: 1rem;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    background-color: #28CED6;
    color:black;
    transition: 0.4s;
}

.buy-now-btn{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #28CED2;
    text-align: center;
    cursor: pointer;
    width: 10%;
    font-size: 18px;
}

.buynow{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-now-btn:hover {
    background-color: black;
    color: #28CED2;
    transition: 0.4s;
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .heroheading h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
    .ourproducts h1{
        font-size: 2rem;
    }
    .card {
        margin-top: 1rem;
        flex-basis: calc(50% - 20px);
    }
    .card img{
        padding-top: 1rem;
        max-width: 40%;
    }
    .buy-now-btn{
        padding: 10px;
        width: 20%;
    }
}

/* Make the product boxes responsive */
@media screen and (max-width: 1200px) {
    .card {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .logo img {
        height: 5rem;
        width: 15rem!important;
    }
    .heroheading{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .heroheading h1 {
        font-size: 1.5rem; /* Further adjust font size for smaller screens */
    }
    .ourproducts h1{
        font-size: 1.5rem;
    }
    .card {
        flex-basis: calc(100% - 20px); /* One box per row with margin */
    }
    .buy-now-btn{
        width: 30%;
    }
    .title-and-search {
        display: block;
        margin: auto;
    }
    
    .ourproducts h1{
        font-size: 2rem;
    }
    .search-box{
        padding-top: 1rem;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #28CED6;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 20rem;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.2px solid black;
    border-radius: 0.5em;
    padding: 0.3rem 1rem;
    /* margin-left: 12vw; */
    font-size: 1.2rem;
    color: black;
    cursor: pointer;

}

.login-button:hover {
    color: white;
    background-color: black;
    border: 2px solid #28CED6;
    transition: all ease-in-out 350ms;
}

.join-button{
    color: #131418;
    background-color: #28CED6;
    border: 1.5px solid #28CED6;
    border-radius: 0.5em;
    padding: 0.3rem 1rem;
    margin-left: -2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.join-button:hover {
    color: white;
    background-color: black;
    border: 2px solid #28CED6;
    transition: all ease-in-out 350ms;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    height: 40px;
    width: 220px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 50px;
    color:#fff;
}

.input-search::placeholder{
    /* color:rgba(219, 219, 219, 0.934); */
    color: black;
    font-size: 15px;
    opacity: 0.7;
    letter-spacing: 2px;
    font-weight:300;
}

.btn-search{
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: black;
    background-color:transparent;
    pointer-events: painted;  
}

.btn-search:focus ~ .input-search{
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
    width: 240px;
    border-radius: 0px;
    color: black;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

footer nav{
    padding-top: 2rem;
}

footer a:hover {
    color: #28CED6;
    transition: 0.4s;
}

.foot{
    display: inline-block;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: -0.5rem;
}

.copyrightext{
    float: left;
}

.groupcredit{
    float: right;
}
/* Footer Ends here */


/* Small Smartphones Media Query */
@media screen and (max-width: 480px) and (min-width: 320px) {
    /* Footer*/
    footer {
        font-size: 0.9rem;
        padding: 10px;
    }
        
    footer a{
        margin: 0 0.5em;
    }

    footer nav{
        padding-top: 1rem;
    }

    .foot{
        display: inline-block;
        width: 100%;
        padding-top: 0.4rem;
    }

    .copyrightext, .groupcredit{
        padding-top: 0.5rem;
        float: none;
    }

/* FOOTER ENDS HERE */
}  

/* Tablets and Larger Smartphones Media Query */
@media screen and (max-width: 768px) and (min-width: 481px) {

    /* Footer */
    footer {
        padding: 20px;
    }

    footer a{
        margin: 0 10px;
    }

    footer nav{
        padding-top: 1rem;
    }

    .foot{
        display: inline-block;
        width: 100%;
        padding-top: 1rem;
    }

    .copyrightext, .groupcredit{
        padding-top: 0.5rem;
        float: none;
    }
}

/* ----------------------------------- */

@media only screen and (max-width: 768px) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .join-button{
        margin-left: 0rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    
}